<mat-sidenav-container class="main-container" >
    <mat-sidenav
    class="side-nav"
    #sidenav
    mode="side"
    [(opened)]="isSideNavOpened"
    >
      <div class="logo-container">
        <img
          src="../../../assets/img/logo-icon.png"
          alt=""
          class="logo-img">
        <h2 class="title-2">
          {{ 'LAYOUT.dashboard' | translate }}
        </h2>
      </div>
      <admin-side-nav></admin-side-nav>
    </mat-sidenav>

    <mat-sidenav-content
    class="content">
      <admin-header
      (sideNavEmit)="toggleSideBar($event)"
      >
      </admin-header>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
