@import '../../modules/themes/variables';

.login-container {
  width: 100%;
  min-height: 100vh;
  background-color: $color-main-2;
  color: $color-main-1;
  padding: 20px;
}

.login-form {
  width: 100%;
  max-width: 400px;

}
.title-container {
  width: 100%;
}

.logo {
  margin-right: 15px;
}

.inputs {
  display: flex;
  flex-direction: column;
}

.inputs > * {
  width: 100%;
}

.input-wrapper {
  border-top: 1px solid $color-main-3;
  border-bottom: 1px solid $color-main-3;
  padding: 60px 0 60px;
  width: 100%;
}
.form-field {
  padding: 0 30px;
}

.btn-container {
  width: 100%;
  padding: 15px 30px;
}

@media screen and (max-width: $break-small) {

  .form-field,
  .btn-container,
  .form-field {
    padding-left: 0;
    padding-right: 0;
  }

  .login-container {
    padding: 8px;
  }

}
