<div class="login-container flex-center-center">
  <form
    class="login-form col-spc-btwn-cntr"
    [formGroup]="loginForm">
    <div class="input-wrapper">
      <div class="flex-center-center title-container">
        <img src="../../../assets/img/logo-icon.png" class="logo">
        <h3 class="title-3">
          Dashboard Sign in
        </h3>
      </div>
      <div class="inputs">
        <mat-form-field  class="form-field" color="accent">
          <input matInput placeholder="Login" formControlName="login">
          <mat-error *ngIf="!loginForm.hasError('required')">
            Login is required
          </mat-error>
        </mat-form-field>
        <mat-form-field  class="form-field"  color="accent">
            <input
              matInput
              placeholder="Password"
              formControlName="password"
              [type]="hide ? 'password' : 'text'">
            <button
              mat-icon-button matSuffix
              (click)="hide = !hide"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide">
                <mat-icon>
                  {{hide ? 'visibility_off' : 'visibility'}}
                </mat-icon>
            </button>
            <mat-error *ngIf="!loginForm.hasError('required')">
                Password is required
            </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row-spc-btwn-cntr btn-container">
        <button
          mat-button
          color="accent"
          [routerLink]="constants.ROUTERS.RESET_PASS">
            Forgot your password?
        </button>
        <button
        mat-raised-button
        color="accent"
        (click)="onSubmit()"
        [disabled]="loginForm.invalid">
            Sign in
        </button>
    </div>
  </form>
</div>
