<div class="login-container flex-center-center">
  <form
    *ngIf="!spinner.isShown"
    class="login-form col-spc-btwn-cntr"
    [formGroup]="loginForm"
  >
    <div class="input-wrapper">
      <div class="flex-center-center title-container">
        <img src="../../../assets/img/logo-icon.png" class="logo">
        <h3 class="title-3">
          {{ 'LOGIN.title' | translate }}
        </h3>
      </div>
      <div class="inputs">
        <mat-form-field  class="form-field" color="accent">
          <input
          matInput
          (keydown.enter)="onLogin()"
          type="email"
          placeholder="{{ 'LOGIN.email' | translate }}"
          formControlName="email">
          <mat-error *ngIf="!loginForm.hasError('required') || loginForm.hasError('email')">
            {{ 'LOGIN.enter_valid_email' | translate }}
          </mat-error>
        </mat-form-field>
        <mat-form-field  class="form-field" >
            <input
              matInput
              (keydown.enter)="onLogin()"
              placeholder="{{ 'LOGIN.password' | translate }}"
              formControlName="password"
              [type]="hide ? 'password' : 'text'"
            >
            <mat-icon
              mat-icon-button
              matSuffix
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide"
              (click)="hide = !hide"
            >
              {{hide ? 'visibility_off' : 'visibility'}}
            </mat-icon>
            <mat-error *ngIf="!loginForm.hasError('required')">
              {{ 'LOGIN.pswrd_required' | translate }}
            </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row-spc-btwn-cntr btn-container">
        <button
          mat-button
          color="accent">
          {{ 'LOGIN.forgot_pswrd' | translate }}
        </button>
        <button
        mat-raised-button
        color="accent"
        (click)="onLogin()"
        [disabled]="loginForm.invalid">
        {{ 'LOGIN.login' | translate }}
        </button>
    </div>
  </form>

  <mat-spinner *ngIf="spinner.isShown" [diameter]="60"></mat-spinner>
</div>

