<div class="login-container flex-center-center">
  <form
    class="login-form col-spc-btwn-cntr"
    [formGroup]="loginForm">
    <div class="input-wrapper">
      <div class="flex-center-center title-container">
        <img src="../../../assets/img/logo-icon.png" class="logo">
        <h3 class="title-3">
          {{ 'LOGIN.title' | translate }}
        </h3>
      </div>
      <div class="inputs">
        <mat-form-field  class="form-field" color="accent">
          <input
          matInput
          type="email"
          placeholder="{{ 'LOGIN.email' | translate }}"
          formControlName="email">
          <mat-error *ngIf="!loginForm.hasError('required') || loginForm.hasError('email')">
            {{ 'LOGIN.enter_valid_email' | translate }}
          </mat-error>
        </mat-form-field>
        <mat-form-field  class="form-field" >
            <input
              matInput
              placeholder="{{ 'LOGIN.password' | translate }}"
              formControlName="password"
              [type]="hide ? 'password' : 'text'">
            <button
              mat-icon-button matSuffix
              (click)="hide = !hide"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide">
                <mat-icon>
                  {{hide ? 'visibility_off' : 'visibility'}}
                </mat-icon>
            </button>
            <mat-error *ngIf="!loginForm.hasError('required')">
              {{ 'LOGIN.pswrd_required' | translate }}
            </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row-spc-btwn-cntr btn-container">
        <button
          mat-button
          color="accent">
          {{ 'LOGIN.forgot_pswrd' | translate }}
        </button>
        <button
        mat-raised-button
        color="accent"
        (click)="onLogin()"
        [disabled]="loginForm.invalid">
        {{ 'LOGIN.login' | translate }}
        </button>
    </div>
  </form>
</div>
