<mat-drawer-container class="main-container">
  <mat-drawer
    mode="side"
    [(opened)]="isSideNavOpened">
    <div class="logo-container">
      <img
        src="../../../assets/img/logo-icon.png"
        alt=""
        class="logo-img">
      <h2 class="title-2">
        {{ 'LAYOUT.dashboard' | translate }}
      </h2>
    </div>
    <admin-side-nav></admin-side-nav>
  </mat-drawer>
  <mat-drawer-content class="content" [class.small]="isSideNavOpened">
    <admin-header
      (sideNavEmit)="toggleSideBar($event)"
    >
    </admin-header>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
