<header class="row-spc-btwn-cntr">
  <span
    class="togle-menu-btn"
    (click)="toggleSideNav()"
  >
    <i class="fas fa-bars"></i>

  </span>

  <div class="profile-menu-wrapper row-spc-btwn-cntr">
    <span
      class="menu-btn"
      [matMenuTriggerFor]="notification"
    >
      <i class="far fa-comment-dots"></i>
    </span>
    <span
      class="menu-btn"
      [matMenuTriggerFor]="profile"
    >
      <img
      class="profile-img"
      [src]="avatarUrl" alt="avatar">
    </span>

  </div>
</header>
  <mat-menu #notification="matMenu">
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
  </mat-menu>
  <mat-menu #profile="matMenu">
    <button mat-menu-item class="menu-item">
      <i class="far fa-user menu-item-icon"></i>
      {{ 'PROFILE.my_profile' | translate }}
    </button>
    <button mat-menu-item class="menu-item">
        <i class="fas fa-cog menu-item-icon"></i>
      {{ 'PROFILE.profile_settings' | translate }}
    </button>
    <mat-divider></mat-divider>
    <button
      mat-menu-item
      class="menu-item"
      (click)="logOut()">
        <i class="fas fa-power-off menu-item-icon"></i>
      {{ 'PROFILE.log_out' | translate }}
    </button>
  </mat-menu>
