<div class="login-container flex-center-center">
  <form
    *ngIf="!spinner.isShown"
    class="login-form col-spc-btwn-cntr"
    [formGroup]="restorePswrdForm"
  >
    <div class="input-wrapper">
      <div class="flex-center-center title-container">
        <img src="../../../assets/img/logo-icon.png" class="logo">
        <h3 class="title-3">
          {{ 'LOGIN.title' | translate }}
        </h3>
      </div>
      <div class="inputs">
        <mat-form-field  class="form-field" *ngIf="step === 0">
          <input
          autocomplete="off"
          matInput
          (keydown.enter)="sendCode()"
          type="email"
          placeholder="{{ 'LOGIN.email' | translate }}"
          formControlName="email">
          <mat-error *ngIf="isEmailInvalid">
            {{ 'LOGIN.enter_valid_email' | translate }}
          </mat-error>
        </mat-form-field>
        <mat-form-field  class="form-field" *ngIf="step === 1">
          <input
          autocomplete="off"
          matInput
          (keydown.enter)="checkCode()"
          type="text"
          placeholder="{{ 'RESTORE_PSWRDs.security_code' | translate }}"
          formControlName="securityCode">
          <mat-error *ngIf="isSecurityCodeInvalid">
            {{ 'RESTORE_PSWRDs.enter_security_code' | translate :{ value: minLength } }}
          </mat-error>
        </mat-form-field>
        <mat-form-field  class="form-field" *ngIf="step === 2">
          <input
            matInput
            placeholder="{{ 'LOGIN.password' | translate }}"
            formControlName="password"
            [type]="hide ? 'password' : 'text'"
          >
          <mat-icon
            mat-icon-button
            matSuffix
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
            (click)="hide = !hide"
          >
            {{hide ? 'visibility_off' : 'visibility'}}
          </mat-icon>
          <mat-error *ngIf="restorePswrdForm.controls[PASSWORD].hasError('required')">
            {{ 'LOGIN.pswrd_required' | translate }}
          </mat-error>
          <mat-error *ngIf="restorePswrdForm.controls[PASSWORD].hasError('minlength')">
            {{ 'RESTORE_PSWRDs.password_min_len_error' | translate :{ value: minLength } }}
          </mat-error>
      </mat-form-field>
      <mat-form-field  class="form-field" *ngIf="step === 2">
        <input
          matInput
          (keydown.enter)="changePassword()"
          placeholder="{{ 'RESTORE_PSWRDs.password_confirm' | translate }}"
          formControlName="passwordConfirm"
          [type]="hideConf ? 'password' : 'text'"
        >
        <mat-icon
          mat-icon-button
          matSuffix
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
          (click)="hideConf = !hideConf"
        >
          {{hide ? 'visibility_off' : 'visibility'}}
        </mat-icon>
        <mat-error *ngIf="restorePswrdForm.controls[PASSWORD_CONFIRM].hasError('required')">
          {{ 'LOGIN.pswrd_required' | translate }}
        </mat-error>
    </mat-form-field>
      </div>
    </div>
    <div class="row-spc-btwn-cntr btn-container">
        <button
          mat-button
          class="forgot-btn"
          (click)="toLogin()"
        >
          {{ 'LOGIN.login' | translate }}
        </button>
        <button
        mat-raised-button
        *ngIf="step === 0"
        color="accent"
        (click)="sendCode()"
        [disabled]="isEmailInvalid">
        {{ 'RESTORE_PSWRDs.send' | translate }}
        </button>
        <button
        mat-raised-button
        *ngIf="step === 1"
        color="accent"
        (click)="checkCode()"
        [disabled]="isSecurityCodeInvalid">
        {{ 'RESTORE_PSWRDs.restore_pswrd' | translate }}
        </button>
        <button
        mat-raised-button
        *ngIf="step === 2"
        color="accent"
        (click)="changePassword()"
        [disabled]="isNewPasswordsInvalid">
        {{ 'RESTORE_PSWRDs.chacnge_password' | translate }}
        </button>
    </div>
  </form>

  <mat-spinner *ngIf="spinner.isShown" [diameter]="60"></mat-spinner>
</div>

