<header class="row-spc-btwn-cntr">
  <span
    class="togle-menu-btn"
    (click)="toggleSideNav()"
  >
    <i class="fas fa-bars"></i>

  </span>

  <div class="profile-menu-wrapper row-spc-btwn-cntr">
    <span
      class="menu-btn"
      [matMenuTriggerFor]="notification"
    >
      <i class="far fa-comment-dots"></i>
    </span>
    <span
      class="menu-btn"
      [matMenuTriggerFor]="profile"
    >
      <img
      class="profile-img"
      src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/75cbde8a-db1c-4fe1-869e-8bb5be9a49b6/d73ttlh-b9f5fad1-2ac7-4d2b-a04b-a48430ab5520.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzc1Y2JkZThhLWRiMWMtNGZlMS04NjllLThiYjViZTlhNDliNlwvZDczdHRsaC1iOWY1ZmFkMS0yYWM3LTRkMmItYTA0Yi1hNDg0MzBhYjU1MjAuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.AHG1OmT6dNRXFoRd_Z18ghD0ymDnHbbtQFMvfUd4p8E" alt="avatar">
    </span>

  </div>
</header>
  <mat-menu #notification="matMenu">
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
  </mat-menu>
  <mat-menu #profile="matMenu">
    <button mat-menu-item class="menu-item">
      <i class="far fa-user menu-item-icon"></i>
      {{ 'PROFILE.my_profile' | translate }}
    </button>
    <button mat-menu-item class="menu-item">
        <i class="fas fa-cog menu-item-icon"></i>
      {{ 'PROFILE.profile_settings' | translate }}
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item class="menu-item">
        <i class="fas fa-power-off menu-item-icon"></i>
      {{ 'PROFILE.log_out' | translate }}
    </button>
  </mat-menu>
