.flex-center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.col-spc-btwn-cntr {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.row-spc-btwn-cntr {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
