// Colors

$side-nav-color: #1F262D;
$header-color: #141619;



$color-main-1: #fff;
$color-main-2: #343A40;
$color-main-3: #6c757d;
$color-main-4: #27a9e3;
$color-main-5: #ffff99;



// Media

$break-small: 480px;
